<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisitPlaces</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="../styles/custom.css" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="upper-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">Visit Places</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="accomodation.html" class="dropdown-toggle" data-toggle="dropdown">Accomodation <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="acc-accessible-accomodation.html">Accessible accomodation</a></li>
                    <li><a href="acc-bbs-guesthouses.html">Bed & Breakfasts & guest houses</a></li>
                    <li><a href="acc-caravan-camping.html">Caravan & camping</a></li>
                    <li><a href="acc-cottages-cabins.html">Cottages & cabins</a></li>
                    <li><a href="acc-hostels.html">Hostels</a></li>
                    <li><a href="acc-hotels.html">Hotels</a></li>
                    <li><a href="acc-weird-wonderful.html">Weird & wonderful</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="cities-and-regions.html" class="dropdown-toggle" data-toggle="dropdown">Cities & Regions <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="cr-cities.html">Cities</a></li>
                    <li><a href="cr-regions.html">Regions</a></li>
                    <li><a href="cr-map.html">Map</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="nature.html" class="dropdown-toggle" data-toggle="dropdown">Nature <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="n-forests-woodlands.html">Forests & woodlands</a></li>
                    <li><a href="n-islands.html">Islands</a></li>
                    <li><a href="n-landscapes.html">Landscapes</a></li>
                    <li><a href="n-mountains.html">Mountains</a></li>
                    <li><a href="n-northern-lights.html">Northern lights</a></li>
                    <li><a href="n-outdoor-activities.html">Outdoor activities</a></li>
                    <li><a href="n-rivers-lakes-seas.html">Rivers, lakes & seas</a></li>
                    <li><a href="n-wildlife.html">Wildlife</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="see-and-do.html" class="dropdown-toggle" data-toggle="dropdown">See & Do <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="sd-attractions.html">Attractions</a></li>
                    <li><a href="sd-castles-monuments.html">Castles & monuments</a></li>
                    <li><a href="sd-events.html">Events</a></li>
                    <li><a href="sd-food.html">Food</a></li>
                    <li><a href="sd-tours-itineraries.html">Tours & itineraries</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="travel.html" class="dropdown-toggle" data-toggle="dropdown">Travel <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="t-getting-to-and-around.html"><strong>Getting to & around:</strong></li></a>
                    <li><a href="t-gtr-air.html">Air</a></li>
                    <li><a href="t-gtr-bus-coach.html">Bus & coach</a></li>
                    <li><a href="t-gtr-car-vehicle-hire.html">Car & vehicle hire</a></li>
                    <li><a href="t-gtr-ferry.html">Ferry</a></li>
                    <li><a href="t-gtr-sailing.html">Sailing</a></li>
                    <li><a href="t-gtr-scenic-driving-routes.html">Scenic driving routes</a></li>
                    <li><a href="t-gtr-train.html">Train</a></li>
                    <li><a href="t-travel-passes-and-offers.html"><strong>Travel passes & offers:</strong></a></li>
                    <li><a href="t-tpo-safe-travel.html">Safe travel guide</a></li>
                    <li><a href="t-tpo-travel-offers.html">Travel offers</a></li>
                  </ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container page-body">
      <section>
        <article>
          <h1>CARAVAN & CAMPING</h1>
          <h3>You can camp wherever you go</h3>
        </article>
        <article>
          <div class="jumbotron jumbo-image jumbo-center" style="background-image: url(https://images.unsplash.com/photo-1496545672447-f699b503d270?auto=format&fit=crop&w=1951&q=80)">
              <h2>Taste the outdoors</h2>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>All around the world there is a wide range of caravan parks and camping sites to suit all budgets, tastes and itineraries whether you are looking for a fun family break packed with activities, or a bit of peace and quiet in the great outdoors.</strong>
            </p>
            <p class="paragraph-subpage">
              If you're looking for a flexible break, why not bring your tent, touring caravan or motorhome, or if you want take it easy and explore just one particular area, perhaps rent a modern caravan holiday home or a lodge in one of many caravan parks?
            </p>
            <hr />
            <h3>THE SIMPLE PLEASURES OF CAMPING</h3>
            <hr />
            <p class="paragraph-subpage">
              <strong>Not sure if it's the type of holiday for you? Here are some of the experiences you could enjoy:</strong>
            </p>
            <ul class="paragraph-subpage">
              <li>Waking up to the sound of chirping birds.</li>
              <li>Feeling great satisfaction as you tuck into an al fresco campfire meal.</li>
              <li>Embracing the deep feeling of relaxation just knowing you're away from the everyday hubbub of life.</li>
              <li>Discovering campsites set below breathtaking mountain ranges, overlooking pristine beaches, or in the middle of lush, open countryside. Best of all, the views come free of charge!</li>
            </ul>
            <hr />
          </div>
          <div class="col-md-2">
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1468869196565-78ea346a98ee?auto=format&fit=crop&w=1950&q=80)">
                <h2>Camp, caravan & holiday parks</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>If you’re after your next camping adventure, it should be a no-brainer – world’s got everything you need to enjoy your perfect holiday at a campsite, caravan or holiday park.</strong>
            </p>
            <p class="paragraph-subpage">
              Every morning you can wake up to magnificent mountains with woodland trails, clear blue waters and golden beaches, with ancient castles and historical sites to visit. Add to this excellent, home-like facilities and you’ve got a recipe for the perfect break.
            </p>
            <p class="paragraph-subpage">
              Bring your tent, touring caravan or motorhome, or simply rent a modern caravan holiday home or a lodge in one of many caravan parks – you set the rules.
            </p>
            <hr />
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1513311068348-19c8fbdc0bb6?auto=format&fit=crop&w=1950&q=80)">
                <h2>Campervan, motorhome & caravan hire</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>There’s nothing quite like the freedom of the long open road. Steer through miles of open scenery or rumble along the coastline, as you embark upon a road trip to remember. Tempted yet? After all, what better way to travel than by taking your home with you?</strong>
            </p>
            <p class="paragraph-subpage">
              The right wheels can turn an ordinary journey into an epic adventure. Campervans and motorhomes are terms used for camping vehicles with a motor, usually in the form of a van that has a bed and kitchen installed in the back. Motorhomes tend to be larger than campers, with more features and space. Caravans are slightly different; the vehicle is separate and must be towed behind a car.
            </p>
            <p class="paragraph-subpage">
              Is it your ultimate ambition in life to drive a VW campervan? You can hire one in several locations for excellent rates and equally, if you’d rather take an off-road motorhome for a spin, you’ll find there is a whole raft of companies which offer a variety of quality vehicles to choose from.
            </p>
            <hr />
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image jumbo-center" style="background-image: url(https://images.unsplash.com/photo-1504280390367-361c6d9f38f4?auto=format&fit=crop&w=1950&q=80)">
                <h2>Wild camping</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>Fancy getting off the beaten track? If you don't mind sacrificing the usual day-to-day comforts and conveniences and want to explore the areas of Earth that very few visit, then wild camping is for you. It's a great way to discover remote parts of our stunning landscapes and get close to nature. Plus, the experience definitely comes with a great feeling of adventure!</strong>
            </p>
            <p class="paragraph-subpage">
              If you're planning a wild camping trip, be sure to familiarise yourself with the particular country's Outdoor Access Code. It's not complicated - basically, campers should follow a policy of 'leave-no-trace'.
            </p>
            <p class="paragraph-subpage">Here are some top points to follow:</p>
            <ul class="paragraph-subpage">
              <li>Avoid overcrowding by moving on to another location if it's already a busy spot.</li>
              <li>Use a stove or leave no trace of any camp fire. Never cut down or damage trees.</li>
              <li>Take away your rubbish and consider picking up other litter as well.</li>
              <li>If in doubt, ask the landowner. Their advice just might help you find a better camping spot.</li>
            </ul>
            <hr />
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1508974462591-3c124867fdf8?auto=format&fit=crop&w=1952&q=80)">
                <h2>Glamping</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>Camping. It isn’t for everyone. Do you dread the prospect of the uneven ground, the 'wild' animals, the soggy tent and the mysterious noises through the night? Fear not, there is a truly comfortable way to enjoy the great outdoors, without the stresses of getting back to nature. It’s called glamping!</strong>
            </p>
            <p class="paragraph-subpage">
              One of the most recent travel trends, this phenomenon combines a little slice of glamour and luxury with traditional camping. So, you may find yourself deep in the wilderness but your accommodation will provide you with sockets for hairdryers and iPods, a proper bed, a TV and a fridge to make your stay much more comfortable.
            </p>
            <p class="paragraph-subpage">
              Glamping comes in many different forms, including: camping pods, wigwams, treehouses, tipis and yurts. Your place to stay can vary from basic and comfortable to simply grand and luxurious.
            </p>
            <hr />
          </div>
        </article>
      </section>
    </div>

    <footer class="panel-footer navbar-static-bottom">
        <h5 class="text-center">&copy; 2018 - Izabela Saniewska</h5>
        <h6 class="text-center">Komunikacja Człowiek-Komputer, projekt 3</h6>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
