<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisitPlaces</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="../styles/custom.css" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="upper-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">Visit Places</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="accomodation.html" class="dropdown-toggle" data-toggle="dropdown">Accomodation <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="acc-accessible-accomodation.html">Accessible accomodation</a></li>
                    <li><a href="acc-bbs-guesthouses.html">Bed & Breakfasts & guest houses</a></li>
                    <li><a href="acc-caravan-camping.html">Caravan & camping</a></li>
                    <li><a href="acc-cottages-cabins.html">Cottages & cabins</a></li>
                    <li><a href="acc-hostels.html">Hostels</a></li>
                    <li><a href="acc-hotels.html">Hotels</a></li>
                    <li><a href="acc-weird-wonderful.html">Weird & wonderful</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="cities-and-regions.html" class="dropdown-toggle" data-toggle="dropdown">Cities & Regions <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="cr-cities.html">Cities</a></li>
                    <li><a href="cr-regions.html">Regions</a></li>
                    <li><a href="cr-map.html">Map</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="nature.html" class="dropdown-toggle" data-toggle="dropdown">Nature <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="n-forests-woodlands.html">Forests & woodlands</a></li>
                    <li><a href="n-islands.html">Islands</a></li>
                    <li><a href="n-landscapes.html">Landscapes</a></li>
                    <li><a href="n-mountains.html">Mountains</a></li>
                    <li><a href="n-northern-lights.html">Northern lights</a></li>
                    <li><a href="n-outdoor-activities.html">Outdoor activities</a></li>
                    <li><a href="n-rivers-lakes-seas.html">Rivers, lakes & seas</a></li>
                    <li><a href="n-wildlife.html">Wildlife</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="see-and-do.html" class="dropdown-toggle" data-toggle="dropdown">See & Do <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="sd-attractions.html">Attractions</a></li>
                    <li><a href="sd-castles-monuments.html">Castles & monuments</a></li>
                    <li><a href="sd-events.html">Events</a></li>
                    <li><a href="sd-food.html">Food</a></li>
                    <li><a href="sd-tours-itineraries.html">Tours & itineraries</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="travel.html" class="dropdown-toggle" data-toggle="dropdown">Travel <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="t-getting-to-and-around.html"><strong>Getting to & around:</strong></li></a>
                    <li><a href="t-gtr-air.html">Air</a></li>
                    <li><a href="t-gtr-bus-coach.html">Bus & coach</a></li>
                    <li><a href="t-gtr-car-vehicle-hire.html">Car & vehicle hire</a></li>
                    <li><a href="t-gtr-ferry.html">Ferry</a></li>
                    <li><a href="t-gtr-sailing.html">Sailing</a></li>
                    <li><a href="t-gtr-scenic-driving-routes.html">Scenic driving routes</a></li>
                    <li><a href="t-gtr-train.html">Train</a></li>
                    <li><a href="t-travel-passes-and-offers.html"><strong>Travel passes & offers:</strong></a></li>
                    <li><a href="t-tpo-safe-travel.html">Safe travel guide</a></li>
                    <li><a href="t-tpo-travel-offers.html">Travel offers</a></li>
                  </ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container page-body">
      <section>
        <article>
          <h1>B&amp;BS & GUESTHOUSES AROUND THE WORLD</h1>
          <h3>Although the whole concept may sound British, B&amp;Bs are popular all around the world.</h3>
        </article>
        <article>
          <div class="jumbotron jumbo-image jumbo-center" style="background-image: url(https://images.unsplash.com/photo-1464146072230-91cabc968266?auto=format&fit=crop&w=1950&q=80)">
              <h2>Home hospitality</h2>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>What could be better than waking up in a comfy bed inside a city townhouse, country farm cottage, luxury lodge, or even a castle, before tucking into a breakfast? It's all part of the experience at a bed and breakfast (B&amp;B) or guest house. Whether you are exploring cities, towns or the countryside, you can almost always find a quality B&amp;B or guest house for an unforgettable stay.</strong>
            </p>
            <p class="paragraph-subpage">
              Ask your friendly host for local know-how and they'll recommend great places to visit, where to eat, and top tips on travel. You'll find plenty of homely, personal touches and often there are excellent facilities, which might include off-road parking, wonderful loch-side views, pet-friendly rooms and handy bike or golf club storage.
            </p>
            <hr />
          </div>
          <div class="col-md-2">
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <h3>DISCOVER BEAUTIFUL B&amp;BS AND GUESTHOUSES</h3>
          </div>
          <div class="row col-md-12 images-row">
            <div class="col-md-3">
              <a href="https://www.bedandbreakfast.com"><img src="https://images.unsplash.com/photo-1481934633871-fc3e3ba6f0e0?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
            </div>
            <div class="col-md-3">
              <a href="https://www.bedandbreakfast.com"><img src="https://images.unsplash.com/photo-1508109329914-0a390155930d?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
            </div>
            <div class="col-md-3">
              <a href="https://www.bedandbreakfast.com"><img src="https://images.unsplash.com/photo-1449844908441-8829872d2607?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
            </div>
            <div class="col-md-3">
              <a href="https://www.bedandbreakfast.com"><img src="https://images.unsplash.com/photo-1492889971304-ac16ab4a4a5a?auto=format&fit=crop&w=1953&q=80" class="img-thumbnail"></a>
            </div>
          </div>
          <div class="row col-md-12 images-row">
            <div class="col-md-3">
              <a href="https://www.bedandbreakfast.com"><img src="https://images.unsplash.com/photo-1479705879471-5afa19ebdcc5?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
            </div>
            <div class="col-md-3">
              <a href="https://www.bedandbreakfast.com"><img src="https://images.unsplash.com/photo-1504418427601-f32ff56b2c4e?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
            </div>
            <div class="col-md-3">
              <a href="https://www.bedandbreakfast.com"><img src="https://images.unsplash.com/photo-1475855581690-80accde3ae2b?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
            </div>
            <div class="col-md-3">
              <a href="https://www.bedandbreakfast.com"><img src="https://images.unsplash.com/photo-1493895565436-93db25637518?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
            </div>
          </div>
        </article>
      </section>
    </div>

    <footer class="panel-footer navbar-static-bottom">
        <h5 class="text-center">&copy; 2018 - Izabela Saniewska</h5>
        <h6 class="text-center">Komunikacja Człowiek-Komputer, projekt 3</h6>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
