<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisitPlaces</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="../styles/custom.css" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="upper-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">Visit Places</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="accomodation.html" class="dropdown-toggle" data-toggle="dropdown">Accomodation <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="acc-accessible-accomodation.html">Accessible accomodation</a></li>
                    <li><a href="acc-bbs-guesthouses.html">Bed & Breakfasts & guest houses</a></li>
                    <li><a href="acc-caravan-camping.html">Caravan & camping</a></li>
                    <li><a href="acc-cottages-cabins.html">Cottages & cabins</a></li>
                    <li><a href="acc-hostels.html">Hostels</a></li>
                    <li><a href="acc-hotels.html">Hotels</a></li>
                    <li><a href="acc-weird-wonderful.html">Weird & wonderful</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="cities-and-regions.html" class="dropdown-toggle" data-toggle="dropdown">Cities & Regions <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="cr-cities.html">Cities</a></li>
                    <li><a href="cr-regions.html">Regions</a></li>
                    <li><a href="cr-map.html">Map</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="nature.html" class="dropdown-toggle" data-toggle="dropdown">Nature <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="n-forests-woodlands.html">Forests & woodlands</a></li>
                    <li><a href="n-islands.html">Islands</a></li>
                    <li><a href="n-landscapes.html">Landscapes</a></li>
                    <li><a href="n-mountains.html">Mountains</a></li>
                    <li><a href="n-northern-lights.html">Northern lights</a></li>
                    <li><a href="n-outdoor-activities.html">Outdoor activities</a></li>
                    <li><a href="n-rivers-lakes-seas.html">Rivers, lakes & seas</a></li>
                    <li><a href="n-wildlife.html">Wildlife</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="see-and-do.html" class="dropdown-toggle" data-toggle="dropdown">See & Do <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="sd-attractions.html">Attractions</a></li>
                    <li><a href="sd-castles-monuments.html">Castles & monuments</a></li>
                    <li><a href="sd-events.html">Events</a></li>
                    <li><a href="sd-food.html">Food</a></li>
                    <li><a href="sd-tours-itineraries.html">Tours & itineraries</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="travel.html" class="dropdown-toggle" data-toggle="dropdown">Travel <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="t-getting-to-and-around.html"><strong>Getting to & around:</strong></li></a>
                    <li><a href="t-gtr-air.html">Air</a></li>
                    <li><a href="t-gtr-bus-coach.html">Bus & coach</a></li>
                    <li><a href="t-gtr-car-vehicle-hire.html">Car & vehicle hire</a></li>
                    <li><a href="t-gtr-ferry.html">Ferry</a></li>
                    <li><a href="t-gtr-sailing.html">Sailing</a></li>
                    <li><a href="t-gtr-scenic-driving-routes.html">Scenic driving routes</a></li>
                    <li><a href="t-gtr-train.html">Train</a></li>
                    <li><a href="t-travel-passes-and-offers.html"><strong>Travel passes & offers:</strong></a></li>
                    <li><a href="t-tpo-safe-travel.html">Safe travel guide</a></li>
                    <li><a href="t-tpo-travel-offers.html">Travel offers</a></li>
                  </ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container page-body">
      <section>
        <article>
          <h1>ACCOMODATION</h1>
          <h3>Three, four, five or five-billion stars hotel?</h3>
        </article>
        <article>
          <div id="index-jumbo-image-accomodation" class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1496425745709-5f9297566b46?auto=format&fit=crop&w=1050&q=80)">
            <h2>Choose your way of experiencing accomodation</h2>
          </div>
        </article>
        <article>
          <p class="paragraph-subpage">
            <strong>Do you prefer social sites in big cities or a desolate cabin in the middle of the woods? A luxury hotel or a campsite? <br />B&amp;B or a hostel? The choice is yours!</strong>
          </p>
        </article>
        <article>
          <h3>EXPLORE ACCOMODATION SITES</h3>
          <div class="row col-md-12 images-row">
            <div class="col-md-4">
              <a href="acc-accessible-accomodation.html"><img src="https://images.unsplash.com/photo-1466499855940-3d95a5277898?auto=format&fit=crop&w=1050&q=80" class="img-thumbnail"></a>
              <h4>Accessible accomodation</h4>
              <p>Find a place without barriers</p>
            </div>
            <div class="col-md-4">
              <a href="acc-bbs-guesthouses.html"><img src="https://images.unsplash.com/photo-1464146072230-91cabc968266?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
              <h4>B&amp;Bs & guesthouses</h4>
              <p>Home hospitality</p>
            </div>
            <div class="col-md-4">
              <a href="acc-caravan-camping.html"><img src="https://images.unsplash.com/photo-1496545672447-f699b503d270?auto=format&fit=crop&w=1951&q=80" class="img-thumbnail"></a>
              <h4>Camping and caravan sites</h4>
              <p>Choose your perfect spot</p>
            </div>
          </div>
          <div class="row col-md-12 images-row">
            <div class="col-md-4">
              <a href="acc-cottages-cabins.html"><img src="https://images.unsplash.com/photo-1491712771495-30dc348ce2ca?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
              <h4>Beautiful cottages and cabins</h4>
              <p>In the middle of nowhere</p>
            </div>
            <div class="col-md-4">
              <a href="acc-hostels.html"><img src="https://images.unsplash.com/photo-1474260295919-57362ec1d17c?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
              <h4>Hostels</h4>
              <p>Exchange experiences</p>
            </div>
            <div class="col-md-4">
              <a href="acc-hotels.html"><img src="https://images.unsplash.com/photo-1501117716987-c8c394bb29df?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
              <h4>Hotels</h4>
              <p>Have a peaceful night</p>
            </div>
          </div>
          <div class="row col-md-12 images-row">
            <div class="col-md-4">
              <a href="acc-weird-wonderful.html"><img src="https://images.unsplash.com/photo-1512649408904-c0a00fb810da?auto=format&fit=crop&w=2089&q=80" class="img-thumbnail"></a>
              <h4>Weird & wonderful</h4>
              <p>Spend a night in a non-obvious place</p>
            </div>
          </div>
        </article>
      </section>
    </div>

    <footer class="panel-footer navbar-static-bottom">
        <h5 class="text-center">&copy; 2018 - Izabela Saniewska</h5>
        <h6 class="text-center">Komunikacja Człowiek-Komputer, projekt 3</h6>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
