<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisitPlaces</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="../styles/custom.css" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="upper-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">Visit Places</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="accomodation.html" class="dropdown-toggle" data-toggle="dropdown">Accomodation <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="acc-accessible-accomodation.html">Accessible accomodation</a></li>
                    <li><a href="acc-bbs-guesthouses.html">Bed & Breakfasts & guest houses</a></li>
                    <li><a href="acc-caravan-camping.html">Caravan & camping</a></li>
                    <li><a href="acc-cottages-cabins.html">Cottages & cabins</a></li>
                    <li><a href="acc-hostels.html">Hostels</a></li>
                    <li><a href="acc-hotels.html">Hotels</a></li>
                    <li><a href="acc-weird-wonderful.html">Weird & wonderful</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="cities-and-regions.html" class="dropdown-toggle" data-toggle="dropdown">Cities & Regions <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="cr-cities.html">Cities</a></li>
                    <li><a href="cr-regions.html">Regions</a></li>
                    <li><a href="cr-map.html">Map</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="nature.html" class="dropdown-toggle" data-toggle="dropdown">Nature <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="n-forests-woodlands.html">Forests & woodlands</a></li>
                    <li><a href="n-islands.html">Islands</a></li>
                    <li><a href="n-landscapes.html">Landscapes</a></li>
                    <li><a href="n-mountains.html">Mountains</a></li>
                    <li><a href="n-northern-lights.html">Northern lights</a></li>
                    <li><a href="n-outdoor-activities.html">Outdoor activities</a></li>
                    <li><a href="n-rivers-lakes-seas.html">Rivers, lakes & seas</a></li>
                    <li><a href="n-wildlife.html">Wildlife</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="see-and-do.html" class="dropdown-toggle" data-toggle="dropdown">See & Do <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="sd-attractions.html">Attractions</a></li>
                    <li><a href="sd-castles-monuments.html">Castles & monuments</a></li>
                    <li><a href="sd-events.html">Events</a></li>
                    <li><a href="sd-food.html">Food</a></li>
                    <li><a href="sd-tours-itineraries.html">Tours & itineraries</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="travel.html" class="dropdown-toggle" data-toggle="dropdown">Travel <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="t-getting-to-and-around.html"><strong>Getting to & around:</strong></li></a>
                    <li><a href="t-gtr-air.html">Air</a></li>
                    <li><a href="t-gtr-bus-coach.html">Bus & coach</a></li>
                    <li><a href="t-gtr-car-vehicle-hire.html">Car & vehicle hire</a></li>
                    <li><a href="t-gtr-ferry.html">Ferry</a></li>
                    <li><a href="t-gtr-sailing.html">Sailing</a></li>
                    <li><a href="t-gtr-scenic-driving-routes.html">Scenic driving routes</a></li>
                    <li><a href="t-gtr-train.html">Train</a></li>
                    <li><a href="t-travel-passes-and-offers.html"><strong>Travel passes & offers:</strong></a></li>
                    <li><a href="t-tpo-safe-travel.html">Safe travel guide</a></li>
                    <li><a href="t-tpo-travel-offers.html">Travel offers</a></li>
                  </ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container page-body">
      <section>
        <article>
          <h1>MAJESTIC MOUNTAINS</h1>
          <h3>Roam if you want to</h3>
        </article>
        <article>
          <div id="n-landscapes-jumbo" class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1486728297118-82a07bc48a28?auto=format&fit=crop&w=2001&q=80)">
            <h2>Scale the heights</h2>
          </div>
        </article>
        <article>
          <p class="paragraph-subpage">
            <strong>Ain’t no mountain high enough ...?</strong>
          </p>
          <p class="paragraph-subpage">
            There is much to enjoy among the peaks, valleys and plateaus in the mountains, but the beauty and serenity can quickly turn dangerous. Make sure your training, your knowledge of the area, and your equipment are all equally well suited for the trip.
          </p>
          <p class="paragraph-subpage">
            For instance, before you set out, you should let people know where you are going, and when you expect to be there. Consider the weather reports – not only where you are going, but nearby as well – and keep in mind that conditions might deteriorate. Plan what to do if it gets dark or if the weather gets worse. Is it best to turn around or is there maybe a shorter way to a tourist cabin available?
          </p>
          <p class="paragraph-subpage">
            Any time you’re in an unfamiliar area, you should bring a map, compass and a mobile phone. There are many places in the mountains without mobile coverage, but you might get lucky, so don’t leave it behind.
          </p>
          <p class="paragraph-subpage">
            Follow trails that are well marked on the map and pay attention to signs and information boards along the way. If you lose your way, however, be on the lookout for cairns of rocks, which are usually found beside well-established paths. Spaced so that the next one along is within sight, they will guide you back to safety.
          </p>
        </article>
        <article>
          <h3>GO HIKING!</h3>
          <div class="row col-md-12 images-row">
            <div class="col-md-4">
              <a href="https://www.google.com"><img src="https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
              <h4>Kluane National Park and Reserve of Canada, Canada</h4>
            </div>
            <div class="col-md-4">
              <a href="https://www.google.com"><img src="https://images.unsplash.com/photo-1439123122285-89a9b408d3e6?auto=format&fit=crop&w=1952&q=80" class="img-thumbnail"></a>
              <h4>Preikestolen, Norway</h4>
            </div>
            <div class="col-md-4">
              <a href="https://www.google.com"><img src="https://images.unsplash.com/photo-1508062806651-749950840be2?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
              <h4>Isle of Skye, Scotland, UK</h4>
            </div>
          </div>
          <div class="row col-md-12 images-row">
            <div class="col-md-4">
              <a href="https://www.google.com"><img src="https://images.unsplash.com/photo-1470043201067-764120126eb4?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
              <h4>Vysoké Tatry, Slovakia</h4>
            </div>
            <div class="col-md-4">
              <a href="https://www.google.com"><img src="https://images.unsplash.com/photo-1478827217976-7214a0556393?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
              <h4>Torres del Paine National Park, Chile</h4>
            </div>
            <div class="col-md-4">
              <a href="https://www.google.com"><img src="https://images.unsplash.com/photo-1471240840307-485d3bc42300?auto=format&fit=crop&w=1950&q=80" class="img-thumbnail"></a>
              <h4>Sourdough Mountain, United States</h4>
            </div>
          </div>
        </article>
      </section>
    </div>

    <footer class="panel-footer navbar-static-bottom">
        <h5 class="text-center">&copy; 2018 - Izabela Saniewska</h5>
        <h6 class="text-center">Komunikacja Człowiek-Komputer, projekt 3</h6>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
