<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisitPlaces</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="../styles/custom.css" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="upper-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">Visit Places</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="accomodation.html" class="dropdown-toggle" data-toggle="dropdown">Accomodation <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="acc-accessible-accomodation.html">Accessible accomodation</a></li>
                    <li><a href="acc-bbs-guesthouses.html">Bed & Breakfasts & guest houses</a></li>
                    <li><a href="acc-caravan-camping.html">Caravan & camping</a></li>
                    <li><a href="acc-cottages-cabins.html">Cottages & cabins</a></li>
                    <li><a href="acc-hostels.html">Hostels</a></li>
                    <li><a href="acc-hotels.html">Hotels</a></li>
                    <li><a href="acc-weird-wonderful.html">Weird & wonderful</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="cities-and-regions.html" class="dropdown-toggle" data-toggle="dropdown">Cities & Regions <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="cr-cities.html">Cities</a></li>
                    <li><a href="cr-regions.html">Regions</a></li>
                    <li><a href="cr-map.html">Map</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="nature.html" class="dropdown-toggle" data-toggle="dropdown">Nature <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="n-forests-woodlands.html">Forests & woodlands</a></li>
                    <li><a href="n-islands.html">Islands</a></li>
                    <li><a href="n-landscapes.html">Landscapes</a></li>
                    <li><a href="n-mountains.html">Mountains</a></li>
                    <li><a href="n-northern-lights.html">Northern lights</a></li>
                    <li><a href="n-outdoor-activities.html">Outdoor activities</a></li>
                    <li><a href="n-rivers-lakes-seas.html">Rivers, lakes & seas</a></li>
                    <li><a href="n-wildlife.html">Wildlife</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="see-and-do.html" class="dropdown-toggle" data-toggle="dropdown">See & Do <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="sd-attractions.html">Attractions</a></li>
                    <li><a href="sd-castles-monuments.html">Castles & monuments</a></li>
                    <li><a href="sd-events.html">Events</a></li>
                    <li><a href="sd-food.html">Food</a></li>
                    <li><a href="sd-tours-itineraries.html">Tours & itineraries</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="travel.html" class="dropdown-toggle" data-toggle="dropdown">Travel <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="t-getting-to-and-around.html"><strong>Getting to & around:</strong></li></a>
                    <li><a href="t-gtr-air.html">Air</a></li>
                    <li><a href="t-gtr-bus-coach.html">Bus & coach</a></li>
                    <li><a href="t-gtr-car-vehicle-hire.html">Car & vehicle hire</a></li>
                    <li><a href="t-gtr-ferry.html">Ferry</a></li>
                    <li><a href="t-gtr-sailing.html">Sailing</a></li>
                    <li><a href="t-gtr-scenic-driving-routes.html">Scenic driving routes</a></li>
                    <li><a href="t-gtr-train.html">Train</a></li>
                    <li><a href="t-travel-passes-and-offers.html"><strong>Travel passes & offers:</strong></a></li>
                    <li><a href="t-tpo-safe-travel.html">Safe travel guide</a></li>
                    <li><a href="t-tpo-travel-offers.html">Travel offers</a></li>
                  </ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container page-body">
      <section>
        <article>
          <h1>OUTDOOR ACTIVITIES</h1>
          <h3>Come out and play</h3>
        </article>
        <article>
          <div class="jumbotron jumbo-image jumbo-center" style="background-image: url(https://images.unsplash.com/photo-1492133969098-09ba49699f47?auto=format&fit=crop&w=2089&q=80)">
              <h2>Taste the outdoors</h2>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>There is no reason to stay indoors. Here are some fun things to do, whether you are visiting the coast, the mountains or somewhere in between. Please remember to stay safe.</strong>
            </p>
            <p class="paragraph-subpage">
              From mountain biking down rugged alpine terrain to navigating an aerial assault course across a forest canopy, to scaling the lofty heights to gliding long the shoreline of an island in sea kayak. From world-class watersports to walking, cycling to aqualining, the possibilites for getting active in magnificent great outdoors are endless.
            </p>
            <p class="paragraph-subpage">
              <strong>Find your new favourite activity!</strong>
            </p>
            <hr />
          </div>
          <div class="col-md-2">
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1459231978203-b7d0c47a2cb7?auto=format&fit=crop&w=1949&q=80)">
                <h2>Hiking</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>Take the walk on the wild side</strong>
            </p>
            <p class="paragraph-subpage">
              Rays of sunlight are finally showering the landscape, forcing the snow in the mountains to a silent retreat, and waking the flowers after their winter sleep. Enter the start of the hiking season. After a long winter, people of all age groups and social backgrounds head outdoors and go trekking in the mountains, along the coast or in the forests. And you are more than welcome to join us in our unashamed love affair with nature.
            </p>
            <hr />
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1471506480208-91b3a4cc78be?auto=format&fit=crop&w=1953&q=80)">
                <h2>Cycling</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>Rides through magnificent nature</strong>
            </p>
            <p class="paragraph-subpage">
              High mountains, steep downhills and rough terrain – at first sight, many countries may seem like a cycling destination reserved for hard-core road cycling, mountain bike and downhill enthusiasts. And sure, if you want a challenge on two wheels, we can help you with that!
            </p>
            <hr />
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1511984212987-27f5efecd5a7?auto=format&fit=crop&w=1950&q=80)">
                <h2>Snowsports</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>The secret to skiing is in the details</strong>
            </p>
            <p class="paragraph-subpage">
              At the high mountain ski resorts the season lasts from autumn through spring, and – if based at a glacier – some are even open through the summer. While there are cross­country trails and alpine resorts all over the country, the largest and most popular destinations are located in the mountains. In addition to lifts, slopes and trails, these will offer accommodation, good foods and nightlife.
            </p>
            <hr />
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1510857817970-2a7060a55c8c?auto=format&fit=crop&w=1567&q=80)">
                <h2>Canoeing & Kayaking</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>Cruise ships are fun, but if you really want to get up close and personal with the still and deep bay waters or the wilder coastline, kayaks or canoes are more intimate options.</strong>
            </p>
            <p class="paragraph-subpage">
              The narrow fjords, majestic mountains and a variety of islands provide a really special setting. Here you can find your very own beach, stay in a traditional fishermen’s cottage and experience the local culinary traditions as part of your paddling tour.
            </p>
            <hr />
          </div>
        </article>
      </section>
    </div>

    <footer class="panel-footer navbar-static-bottom">
        <h5 class="text-center">&copy; 2018 - Izabela Saniewska</h5>
        <h6 class="text-center">Komunikacja Człowiek-Komputer, projekt 3</h6>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
