<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisitPlaces</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="../styles/custom.css" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="upper-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">Visit Places</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="accomodation.html" class="dropdown-toggle" data-toggle="dropdown">Accomodation <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="acc-accessible-accomodation.html">Accessible accomodation</a></li>
                    <li><a href="acc-bbs-guesthouses.html">Bed & Breakfasts & guest houses</a></li>
                    <li><a href="acc-caravan-camping.html">Caravan & camping</a></li>
                    <li><a href="acc-cottages-cabins.html">Cottages & cabins</a></li>
                    <li><a href="acc-hostels.html">Hostels</a></li>
                    <li><a href="acc-hotels.html">Hotels</a></li>
                    <li><a href="acc-weird-wonderful.html">Weird & wonderful</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="cities-and-regions.html" class="dropdown-toggle" data-toggle="dropdown">Cities & Regions <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="cr-cities.html">Cities</a></li>
                    <li><a href="cr-regions.html">Regions</a></li>
                    <li><a href="cr-map.html">Map</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="nature.html" class="dropdown-toggle" data-toggle="dropdown">Nature <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="n-forests-woodlands.html">Forests & woodlands</a></li>
                    <li><a href="n-islands.html">Islands</a></li>
                    <li><a href="n-landscapes.html">Landscapes</a></li>
                    <li><a href="n-mountains.html">Mountains</a></li>
                    <li><a href="n-northern-lights.html">Northern lights</a></li>
                    <li><a href="n-outdoor-activities.html">Outdoor activities</a></li>
                    <li><a href="n-rivers-lakes-seas.html">Rivers, lakes & seas</a></li>
                    <li><a href="n-wildlife.html">Wildlife</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="see-and-do.html" class="dropdown-toggle" data-toggle="dropdown">See & Do <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="sd-attractions.html">Attractions</a></li>
                    <li><a href="sd-castles-monuments.html">Castles & monuments</a></li>
                    <li><a href="sd-events.html">Events</a></li>
                    <li><a href="sd-food.html">Food</a></li>
                    <li><a href="sd-tours-itineraries.html">Tours & itineraries</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="travel.html" class="dropdown-toggle" data-toggle="dropdown">Travel <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="t-getting-to-and-around.html"><strong>Getting to & around:</strong></li></a>
                    <li><a href="t-gtr-air.html">Air</a></li>
                    <li><a href="t-gtr-bus-coach.html">Bus & coach</a></li>
                    <li><a href="t-gtr-car-vehicle-hire.html">Car & vehicle hire</a></li>
                    <li><a href="t-gtr-ferry.html">Ferry</a></li>
                    <li><a href="t-gtr-sailing.html">Sailing</a></li>
                    <li><a href="t-gtr-scenic-driving-routes.html">Scenic driving routes</a></li>
                    <li><a href="t-gtr-train.html">Train</a></li>
                    <li><a href="t-travel-passes-and-offers.html"><strong>Travel passes & offers:</strong></a></li>
                    <li><a href="t-tpo-safe-travel.html">Safe travel guide</a></li>
                    <li><a href="t-tpo-travel-offers.html">Travel offers</a></li>
                  </ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container page-body">
      <section>
        <article>
          <h1>ATTRACTIONS</h1>
          <h3>Endless possibilities</h3>
        </article>
        <article>
          <div class="jumbotron jumbo-image jumbo-center" style="background-image: url(https://images.unsplash.com/photo-1511560941362-2e0171b73d6c?auto=format&fit=crop&w=1950&q=80)">
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>We don't like to boast, but when it comes to places to visit, we have some mighty fine options indeed. We wouldn't be surprised if you wanted to experience them all.</strong>
            </p>
            <p class="paragraph-subpage">
              So what's on offer? Hear tales of kings and queens, see striking cliff-top castles and discover science's latest inventions. Whether you want to step onboard a Royal yacht in Leith, climb over 240 steps up the National Wallace Monument for views over a National Park or try your hand at keyhole surgery, there are countless ways to fill days, weeks and even months at many attractions.
            </p>
            <hr />
          </div>
          <div class="col-md-2">
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1470567391542-83b5ed63ea5b?auto=format&fit=crop&w=1934&q=80)">
                <h2>Architecture</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>Here's just a glimpse of some of the top architectural feats - the odd engineering masterpiece or monument might have slipped in too, as they're just too iconic to miss out!</strong>
            </p>
            <p class="paragraph-subpage">
              There's plenty of sites across the country where you can explore these fascinating architectural designs for yourself and see how the process of building and design has developed over time.
            </p>
            <hr />
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1501682942051-11186018abc5?auto=format&fit=crop&w=1961&q=80)">
                <h2>Galleries</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>There are many reasons why you might be drawn into a gallery. It could be for the love of art, the need for pictorial stimulation, a desire to be exposed to new ideas, or perhaps because it's a dry space to while away a wet afternoon. Maybe you just like the fact that most are free to enter!</strong>
            </p>
            <p class="paragraph-subpage">
              Many larger galleries also boast delightful cafés offering superb local produce and home baking - a perfect pit stop for when your feet get tired!
            </p>
            <hr />
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image jumbo-center" style="background-image: url(https://images.unsplash.com/photo-1508089335109-4c6ae4098f3e?auto=format&fit=crop&w=1950&q=80)">
                <h2>Parks & gardens</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>Stroll along avenues of rustling beeches planted centuries ago. Breathe in the perfume of the flowerbeds as bees buzz happily around you. Watch the herons as they shop for lunch in tinkling streams. If you want to truly relax, return to nature in one of our beautiful parks and gardens and let natural Scotland soothe your spirits.</strong>
            </p>
            <hr />
          </div>
        </article>
        <article>
          <div class="col-md-12">
            <div class="jumbotron jumbo-image jumbo-center" style="background-image: url(https://images.unsplash.com/photo-1505832018823-50331d70d237?auto=format&fit=crop&w=1982&q=80)">
                <h2>Film & TV locations</h2>
            </div>
          </div>
          <div class="col-md-10">
            <hr />
            <p class="paragraph-subpage">
              <strong>Film buff or not, follow the movie trails and in the footsteps of your favourite characters, discovering sprawling beaches, ancient castles, rugged mountains, rolling hills, distinctive cities and picturesque towns and villages.</strong>
            </p>
            <hr />
          </div>
        </article>
      </section>
    </div>

    <footer class="panel-footer navbar-static-bottom">
        <h5 class="text-center">&copy; 2018 - Izabela Saniewska</h5>
        <h6 class="text-center">Komunikacja Człowiek-Komputer, projekt 3</h6>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
