<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisitPlaces</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:500" rel="stylesheet">
    <link rel="stylesheet" href="../styles/custom.css" />
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="upper-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">Visit Places</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="accomodation.html" class="dropdown-toggle" data-toggle="dropdown">Accomodation <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="acc-accessible-accomodation.html">Accessible accomodation</a></li>
                    <li><a href="acc-bbs-guesthouses.html">Bed & Breakfasts & guest houses</a></li>
                    <li><a href="acc-caravan-camping.html">Caravan & camping</a></li>
                    <li><a href="acc-cottages-cabins.html">Cottages & cabins</a></li>
                    <li><a href="acc-hostels.html">Hostels</a></li>
                    <li><a href="acc-hotels.html">Hotels</a></li>
                    <li><a href="acc-weird-wonderful.html">Weird & wonderful</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="cities-and-regions.html" class="dropdown-toggle" data-toggle="dropdown">Cities & Regions <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="cr-cities.html">Cities</a></li>
                    <li><a href="cr-regions.html">Regions</a></li>
                    <li><a href="cr-map.html">Map</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="nature.html" class="dropdown-toggle" data-toggle="dropdown">Nature <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="n-forests-woodlands.html">Forests & woodlands</a></li>
                    <li><a href="n-islands.html">Islands</a></li>
                    <li><a href="n-landscapes.html">Landscapes</a></li>
                    <li><a href="n-mountains.html">Mountains</a></li>
                    <li><a href="n-northern-lights.html">Northern lights</a></li>
                    <li><a href="n-outdoor-activities.html">Outdoor activities</a></li>
                    <li><a href="n-rivers-lakes-seas.html">Rivers, lakes & seas</a></li>
                    <li><a href="n-wildlife.html">Wildlife</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="see-and-do.html" class="dropdown-toggle" data-toggle="dropdown">See & Do <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="sd-attractions.html">Attractions</a></li>
                    <li><a href="sd-castles-monuments.html">Castles & monuments</a></li>
                    <li><a href="sd-events.html">Events</a></li>
                    <li><a href="sd-food.html">Food</a></li>
                    <li><a href="sd-tours-itineraries.html">Tours & itineraries</a></li>
                  </ul>
                </li>
                <li class="dropdown"><a href="travel.html" class="dropdown-toggle" data-toggle="dropdown">Travel <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="t-getting-to-and-around.html"><strong>Getting to & around:</strong></li></a>
                    <li><a href="t-gtr-air.html">Air</a></li>
                    <li><a href="t-gtr-bus-coach.html">Bus & coach</a></li>
                    <li><a href="t-gtr-car-vehicle-hire.html">Car & vehicle hire</a></li>
                    <li><a href="t-gtr-ferry.html">Ferry</a></li>
                    <li><a href="t-gtr-sailing.html">Sailing</a></li>
                    <li><a href="t-gtr-scenic-driving-routes.html">Scenic driving routes</a></li>
                    <li><a href="t-gtr-train.html">Train</a></li>
                    <li><a href="t-travel-passes-and-offers.html"><strong>Travel passes & offers:</strong></a></li>
                    <li><a href="t-tpo-safe-travel.html">Safe travel guide</a></li>
                    <li><a href="t-tpo-travel-offers.html">Travel offers</a></li>
                  </ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container page-body">
      <section>
        <article>
          <h1>BY AIR</h1>
          <h3>Travelling around the globe</h3>
        </article>
        <article>
          <div class="jumbotron jumbo-image" style="background-image: url(https://images.unsplash.com/photo-1483375801503-374c5f660610?auto=format&fit=crop&w=1950&q=80)">
          </div>
        </article>
        <article>
          <p class="paragraph-subpage">
            <strong>Flying is often the quickest way to get around, particularly when travelling to the islands.</strong>
          </p>
          <p class="paragraph-subpage">
            You can find competitive prices on <a href="https://www.skyscanner.com">Skyscanner</a>, <a href="https://www.kayak.co.uk/flights">Kayak</a> or <a href="https://www.momondo.co.uk/">Momondo</a>.
          </p>
          <hr />
        </article>
      </section>
    </div>

    <footer class="panel-footer navbar-static-bottom">
        <h5 class="text-center">&copy; 2018 - Izabela Saniewska</h5>
        <h6 class="text-center">Komunikacja Człowiek-Komputer, projekt 3</h6>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
